* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
    text-align: center;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1f1f1f, #121212);
}

h1 {
    font-size: 3rem;
}

p {
    margin: 15px 0;
    font-size: 1.2rem;
}

.btn {
    padding: 12px 25px;
    background: #00bcd4;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background: #0097a7;
    transform: scale(1.05);
}

.section {
    padding: 80px 20px;
}

.card {
    background: #1c1c1c;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.delay {
    animation-delay: 0.5s;
}

.delay2 {
    animation-delay: 1s;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.6s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
